$black: #0a0a0a;
$white: #ffffff;
$green:#2ecc71;
$gray:#e3e3e3;
$l-gray:#494848;
$desktop:1199px;
$tablet:991px;
$mobile:767px;
$pacifico:'Pacifico', cursive;
$raleway: 'Raleway', sans-serif;
$sans: Arial, Helvetica, sans-serif;